* {
    font-family: "Century Schoolbook";
}
.button {
    padding: 15px 50px;
    margin: 10px 4px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.button:hover {
    opacity: 0.5;
}
