div#tt_translatorHome {
    width: 75%;
}
p,
span,
h1,
h2,
h3,
h4,
h5,
ul li,
div {
    font-family: "Century Schoolbook";
}
select#tta_srcsl optgroup#t_srcRecentLang option {
    min-height: 40px;
}
